<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
    <input type="text" #fullname="ngModel" [(ngModel)]="userService.selectedUser.fullname" name="fullname" placeholder="Full Name" 
    required [ngClass]= "{'invalid-textbox': signUpForm.submitted && !fullname.valid}">
    <div *ngIf="signUpForm.submitted && !fullname.valid">
        <label class="validation-message">Full names is required.</label>
    </div>
    <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="E-mail" 
    required [pattern]="emailRegex" [ngClass]= "{'invalid-textbox': signUpForm.submitted && !email.valid}">
    <div *ngIf="signUpForm.submitted && email.errors">
        <label *ngIf="email.errors.required" class="validation-message">E-mail is required.</label>
        <label *ngIf="email.errors.pattern" class="validation-message">E-mail is invalid.</label>
    </div>
    <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password" 
    minlength="3" required [ngClass]= "{'invalid-textbox': signUpForm.submitted && !password.valid}">
    <div *ngIf="signUpForm.submitted && password.errors">
        <label *ngIf="password.errors.required" class="validation-message">Password is required.</label>
        <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 3 characters.</label>
    </div>
    <input type="submit" value="Sign Up">
</form>

<!-- Success Message -->
<div class = "success" *ngIf = "showSuccessMessage">
    You have reristered successfully!
</div>

<!-- Error Message -->
<div class = "alert" *ngIf = "serverErrorMessages">
    {{serverErrorMessages}}
</div>